/* --- SECCIÓN IMPACTO (WRAPPER ALTO) --- */
.impact-wrapper {
  height: 600vh;
  background-color: #050a10;
  position: relative;
}

.impact-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-scene {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transform: scale(0.9);
  padding: 0 20px;
}

.impact-text h2 {
  font-size: 3.5rem;
  color: white;
}

.impact-text span {
  color: #00c3ff;
}

.social-content h3 {
  font-size: 1.5rem;
  color: white;
}

.social-content h2 {
  font-size: 3rem;
  color: white;
  margin: 1rem 0;
}

.social-content p {
  color: #a0a0a0;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.badges-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.badge-placeholder {
  background: #111;
  border: 1px solid #333;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.fists-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* Muy por encima */
  display: flex;
  pointer-events: none;
  align-items: center;
}

.fist {
  width: 50%;
  height: 50vh;

  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
}

.fist-left {
  border-right: 1px solid #000;
  justify-content: flex-end;
}

.fist-right {
  transform: translateX(0);
}