/* --- SECCIÓN SECUENCIA CANVAS --- */
.sequence-section {
    height: 600vh;
    /* Altura para el scroll */
    background-color: #050a10;
    position: relative;
}

.sticky-canvas-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    /* Centrado y responsivo, manteniendo ratio */
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    /* Opcional: si tus imágenes son PNG transparentes */
    /* mix-blend-mode: lighten; */
}
